.nav__item {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .nav__item {
    display: none;
  }

  .nav__btn {
    display: none;
  }

  .wrapper__hero {
    display: flex;
    flex-direction: column;
  }

  .hero {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .hero__img {
    width: 90%;
    margin: 18px 0;
  }

  .wrapper__img img {
    height: 200px;
  }

  .text__marque{
    padding: 26px 0;
    font-size: 24vw;
  }

  .header__about{
    font-size: 32px;
    line-height: 2rem;
  }
  
  .start{
    margin: 12px 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
  }

  .wrapper__ai{
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .wrapper__ai .content__ai{
    width: 100%;
  }

  .heading__ai{
    font-size: 30px;
  }

  .heading__text{
    font-size: 38px;
  }
}
